.collection-preview {
    display: flex;
    flex-direction: row;
    margin-bottom: 300px;
    margin-left: 20px;
    margin-top: 30px;
    background-color: violet;
  
    .title {
      font-size: 28px;
      margin-bottom: 25px;
    }
  
    
  }